#best2{
    background-color:white;
   
}
#best2:hover{
    background-color:black;


}
#best1:hover{
    background-color:black;
}
#home1{
    color:aqua;
    background-color:white;
}
#home1:hover{
    background-color:#9EF8EE;
}
#fe1{
    background-color: white;
}
#fe1:hover{
background-color:#9EF8EE;
}

#pri1{
    background-color: white;
}
#pri1:hover{
    background-color: #9EF8EE;
}
#faq1{
    background-color: white;
}
#faq1:hover{
    background-color: #9EF8EE;
}
#ab1{
    background-color: white;
}
#ab1:hover{
    background-color: #9EF8EE;
}

#foot{
    background-color:slategray;
}
#s1{
    text-align: start;
}
#s2{
    text-align: start;
}
#s3{
    text-align: start;
}
#s4{
    text-align: start;
}
#s5{
    text-align: start;
}
#s6{
    text-align: start;
}